@import "theme/all-base-themes";
// @import "theme-stores/gnr-themes";
@import "base/all-base";
@import "layout/all-layouts";
@import "modules/all-modules";
@import "state/all-states";


.membershipComponentBlock {
  // background: tomato;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__itemText--left {
  text-align: left;
}

.sizeBlock--smallRectangle {
  min-width: 3.8rem;
}
